<div>
  <h2 id="page-heading" data-cy="FilesHeading">
    <span>Files</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-files"
        [routerLink]="['/files/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Files </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="files?.length === 0">
    <span>No files found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="files && files.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Path</span></th>
          <th scope="col"><span>Id Event</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let files of files; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/files', files.id, 'view']">{{ files.id }}</a>
          </td>
          <td>{{ files.name }}</td>
          <td>{{ files.description }}</td>
          <td>{{ files.path }}</td>
          <td>
            <div *ngIf="files.idEvent">
              <a [routerLink]="['/events', files.idEvent?.id, 'view']">{{ files.idEvent?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/files', files.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/files', files.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(files)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
