<div>
  <h2 id="page-heading" data-cy="EventsHeading">
    <span>Events</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-events"
        [routerLink]="['/events/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Events </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="events?.length === 0">
    <span>No events found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="events && events.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Date</span></th>
          <th scope="col"><span>Latitude</span></th>
          <th scope="col"><span>Longitude</span></th>
          <th scope="col"><span>User</span></th>
          <th scope="col"><span>Pubish</span></th>
          <th scope="col"><span>Category</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let events of events; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/events', events.id, 'view']">{{ events.id }}</a>
          </td>
          <td>{{ events.name }}</td>
          <td>{{ events.description }}</td>
          <td>{{ events.date | formatMediumDate }}</td>
          <td>{{ events.latitude }}</td>
          <td>{{ events.longitude }}</td>
          <td>{{ events.user }}</td>
          <td>{{ events.pubish }}</td>
          <td>{{ events.category }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/events', events.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/events', events.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(events)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
