<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="files">
      <h2 data-cy="filesDetailsHeading"><span>Files</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ files.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ files.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ files.description }}</span>
        </dd>
        <dt><span>Path</span></dt>
        <dd>
          <span>{{ files.path }}</span>
        </dd>
        <dt><span>Id Event</span></dt>
        <dd>
          <div *ngIf="files.idEvent">
            <a [routerLink]="['/events', files.idEvent?.id, 'view']">{{ files.idEvent?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/files', files.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
